<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">

	<Properties>
		<Property name="logPath">/data/logs</Property>
		<Property name="backupPath">/data/logs</Property>
	</Properties>
	<Appenders>
		<RollingFile name="RollingFile" fileName="${logPath}/test.log"
			filePattern="${backupPath}/test-%d{yyyyMMdd}-%i.log.gz">
			<PatternLayout
				pattern="%d [%t] [%X{X-UUID}] [X-UID-%X{X-UID}] %-5level %logger - %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="250 MB" />
			</Policies>
		</RollingFile>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d [%t] [%X{X-UUID}] [X-UID-%X{X-UID}] %-5level %C{1} - %msg%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="DEBUG">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>